<h1>Cart Rows Index</h1>

Cartid: <%= @cart_id %>
Cart: <%= @cart %>
Cartrows: <%= @cartrows %>


<div>
	<% @cartrows.each do |cartrow| %>
		<p><%= cartrow.product.name %></p>
		<p><%= cartrow.cart_id %></p>
		<hr />
	<% end %>
</div>

<div>
	<% if @cart %>
		<%= link_to "Töm varukorgen", cart_path(@cart), :controller => 'carts', :method => :delete, :id => "empty_cart" %>
		<%= link_to "Gå till kassan", cartrows_path, :id => "to_checkout" %>
	<% end %>
</div>