<h1>Ordrar</h1>

<div class="row">
  <div class="col-xs-1"><strong>Ordernr</strong></div>
  <div class="col-xs-2"><strong>Namn</strong></div>
  <div class="col-xs-2"><strong>Adress</strong></div>
  <div class="col-xs-1"><strong>Postnummer</strong></div>
  <div class="col-xs-1"><strong>Stad</strong></div>
  <div class="col-xs-1"><strong>Land</strong></div>
  <div class="col-xs-2"><strong>Email</strong></div>
  <div class="col-xs-1"><strong>Mobile</strong></div>
  <div class="col-xs-1"><strong>Status</strong></div>

</div>

<% @orders.each do |order| %>
  <div class="row">
    <div class="col-xs-1"><%= link_to order.id, order %></div>
    <div class="col-xs-2"><%= order.name %></div>
    <div class="col-xs-2"><%= order.adress %></div>
    <div class="col-xs-1"><%= order.zipcode %></div>
    <div class="col-xs-1"><%= order.city %></div>
    <div class="col-xs-1"><%= order.country %></div>
    <div class="col-xs-2"><%= order.email %></div>
    <div class="col-xs-1"><%= order.mobile %></div>
    <div class="col-xs-1"><%= order.status %></div>

  </div>
<% end %>


<br>


