<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @order.adress %>
</p>

<p>
  <strong>Co:</strong>
  <%= @order.co %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @order.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @order.country %>
</p>

<p>
  <strong>D adress:</strong>
  <%= @order.d_adress %>
</p>

<p>
  <strong>D co:</strong>
  <%= @order.d_co %>
</p>

<p>
  <strong>D city:</strong>
  <%= @order.d_city %>
</p>

<p>
  <strong>D country:</strong>
  <%= @order.d_country %>
</p>

<p>
  <strong>D zipcode:</strong>
  <%= @order.d_zipcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @order.mobile %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Uppdatera order', edit_order_path(@order) %>
