<h1>Cart Rows Index</h1>

Cartid: <%= @cart_id %>
Cart: <%= @cart %>
Cartrows: <%= @cartrows %>

<%= render 'cartrows/cartrows' %>

<div>
	<% if @cart %>
		<%= link_to "Töm varukorgen", cart_path(@cart), :controller => 'carts', :method => :delete, :id => "empty_cart" %>
		<%= link_to "Gå till kassan", new_order_path, :controller => 'orders', :id => "to_checkout" %>
	<% end %>
</div>