<ol>
<% @order.orderrows.each do |orderrow| %>
	<li>
		<p>
	 		<% if !@order.sent? && current_user %>
		 		<%= form_for(orderrow, remote: true, format: :json, html: {class: :orderrow_form}, url: order_orderrow_path(@order, orderrow)) do |o| %>
						<%= orderrow.id %> - <%= orderrow.order.name %> - <%= orderrow.product.name %>
						<%= o.text_field :quantity, autofocus: true, size: 3 %> st
				<% end %>
			<% else %>
					<%= orderrow.id %> - <%= orderrow.order.name %> - <%= orderrow.product.name %>
					<%= orderrow.quantity %> st
			<% end %>
		</p>
	</li>
<% end %>
</ol>