<ol>
<% @orderrows.each do |orderrow| %>
	<li>

	<!-- Jag får inte till det med att skicka på ett korrekt sätt. -->
 		<!-- < %= form_for(orderrow, format: :json, html: {class: :orderrow_form}, :url => {:controller => 'orderrows', :action => 'update_quantity'}) do |o| %> -->
 		<%= form_for(orderrow, remote: true, format: :json, html: {class: :orderrow_form}, url: order_orderrow_path(@order, orderrow)) do |o| %>


 

			<p>
				<%= orderrow.id %> - <%= orderrow.order.name %> - <%= orderrow.product.name %>
				<!-- < %= o.hidden_field :id %> st -->
				<%= o.text_field :quantity, autofocus: true, size: 3 %> st
			</p>

		<% end %>

	</li>
<% end %>
</ol>