<h1><%= @products.size %> Products</h1>

<%= link_to "Skapa ny produkt", new_product_path %>

<% @products.each do |product| %>
	<article>
		<header>
			<h2><%= link_to product.name, product %></h2>
		</header>
		<p>
			<%= product.description %>
		</p>
		<p>
			<%= number_to_currency(product.price, :locale => :sv) %>
		</p>
		<%= format_stock(product) %> 
		<p>
			Bild: <%= product.image %>
		</p>

		Knapp för att lägga till produkt till varukorgen.
		<br />
		Kanske kunna välja antal. BAPP

	</article>
<% end %>

