<section class="products row">
	<% @products.each do |product| %>
		<article class="product col-xs-4">
			<%= link_to product, class: "product" do %>
				<header>
					<%= image_for_thumb(product, 100) %>
					<h2><%= product.name %></h2>
				</header>
				<p>
					<%= truncate(product.description, length: 45, separator: ' ' ) %>
				</p>
				<p>
					<%= number_to_currency(product.price, :locale => :sv) %>
				</p>
				<%= format_stock(product) %> 
			<% end %>
		</article>
	<% end %>
</section>
<div class="row">
	<div class="col-xs-12 paginate">
		<%= will_paginate @products %>
	</div>
</div>