<article class="product_show">
	<header>
		<%= image_for_full(@product)  %>
		<h1><%= @product.name %></h1>
	</header>
	<p>
		<%= @product.description %>
	</p>
	<p>
		<%= number_to_currency(@product.price, :locale => :sv) %>
	</p>
	<%= format_stock(@product) %> 
	<p>
		Bild: <%= @product.image %>
	</p>

	<%= form_for ([@cart, @cartrow]), remote: true, html: {class: :cart_form} do |f| %>
		<p>
			<%= f.label :quantity, "Antal" %> <br />
			<%= f.text_field :quantity, autofocus: true %>
			<%= f.hidden_field :product_id, :value => @product.id %>
		</p>
		<%= f.submit "Lägg i varukorgen" %>
	<% end %>
</article>

<%= link_to "Uppdatera produkt", edit_product_path(@product) %>
<br />
<%= link_to "Tag bort produkt", product_path(@product), method: :delete, data: {confirm: 'Är du säker?'} %>


