<h1><%= @product.name %></h1>
	<article>
		<header>
			<%= image_tag "products/fullsize/" + @product.image, width: 450 %>
			<h2><%= @product.name %></h2>
		</header>
		<p>
			<%= @product.description %>
		</p>
		<p>
			<%= number_to_currency(@product.price, :locale => :sv) %>
		</p>
		<%= format_stock(@product) %> 
		<p>
			Bild: <%= @product.image %>
		</p>

		Knapp för att lägga till produkt till varukorgen.
		<br />
		Kanske kunna välja antal. BAPP

	</article>


<%= link_to "Alla produkter", products_path %>
<br />
<%= link_to "Uppdatera produkt", edit_product_path(@product) %>
<br />
<%= link_to "Tag bort produkt", product_path(@product), method: :delete, data: {confirm: 'Är du säker?'} %>


