<aside id="menu">
	<ul id="ul_menu">
		<li>
			<%= link_to "Alla produkter", products_path %>
		</li>
		<li>
			<%= link_to "Varukorg", cartrows_path %>
		</li>
		<% if current_user %>
			<li>
				<%= link_to "Skapa ny produkt", new_product_path %>
			</li>
			<li>
				<%= link_to 'Ny order', new_order_path %>
			</li>
			<li>
				<%= link_to "Alla ordrar", orders_path %>
			</li>
			<li>
				<%= link_to "Alla adminanvändare", users_path %>
			</li>
		<% end %>
	</ul>
</aside>
