<!DOCTYPE html>
<html>
<head>
  <title>Outnorth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

	<p id="notice" class="flash notice" style="display:none;"><%= notice %>test</p>

	<% if flash[:notice] %>
		<p class="flash notice">
			<%= flash[:notice] %>
		</p>
	<% end %>

	<% if flash[:alert] %>
		<p class="flash alert">
			<%= flash[:alert] %>
		</p>
	<% end %>



	<%= render 'layouts/menu' %>

	<%= yield %>


	<%= render 'layouts/footer' %>

</body>
</html>
